body {
  margin: 0;
}

.top-container {
  text-align: center;
  background-color: #e4f9f5;
  padding-top: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0;
  font-family: "Sacramento", cursive;
  font-size: 50px;
  color: #66bfbf;
  font-size: 5.625rem;
}

.top-container h2 {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

span {
  text-decoration: solid;
}

.mountain {
  margin: 0;
  height: 500px;
}

.top-cloud {
  width: 150px;
  position: relative;
  left: 200px;
  margin: 0 auto;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  margin-bottom: 0;
}

.middle-container {
  text-align: center;
  padding: 20px;
}

.bottom-container {
  text-align: center;
  padding: 20px;
  background-color: #66bfbf;
  position: relative;
}

.profile {
  width: 45%;
  margin: 0 auto;
}

.profile img {
  border-radius: 100%;
  border: 2px solid black;
}

.profile p {
  color: #40514e;
  font-size: 1.3rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row p {
  line-height: 2;
}

.skill-row img {
  width: 25%;
  height: 25%;
}

.cv {
  float: left;
  margin-right: 30px;
}

.python {
  float: right;
  margin-left: 30px;
}

.c {
  float: left;
  margin-right: 30px;
}

hr {
  border: none;
  border-top: 7px dotted #d3cedf;
  width: 5%;
}

.btn{
    background-color: #11999e;
    border-radius: 7px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.footer-link{
    color: #11999e;
    padding: 15px;
}

.bottom-container p{
    color: #eaf6f6;
}